#vimeoCarousel .carousel-control-prev,
#vimeoCarousel .carousel-control-next {
  width: 5%;
}

#vimeoCarousel .carousel-control-prev {
  left: -60px;
}

#vimeoCarousel .carousel-control-next {
  right: -60px;
}


#vimeoCarousel .carousel-control-prev-icon, #vimeoCarousel .carousel-control-next-icon
{
    background-color: rgba(0,0,0,0.88);
    border-radius: 40%;
    background-size: 100% 80%;
}

#hafaSamband .form-control
{
    background-color:lightgray;
    border-radius: 0.5rem;
    border: none;
}

#hafaSamband .form-control:focus
{
    background-color: white;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255,0.25);
}

#hafaSamband .btn
{
    border-radius: 0.5rem;
}

.modal-header
{
    border-bottom: none;
}

.btn-close.btn-close-white
{
    filter: invert(1);
}

.modal-content
{
    background-color: rgba(0,0,0,0.8);
    color: white;
}

html
{
    scroll-behavior: smooth;
}