#vimeoCarousel .carousel-control-prev,
#vimeoCarousel .carousel-control-next {
  width: 5%;
}

#vimeoCarousel .carousel-control-prev {
  left: -60px;
}

#vimeoCarousel .carousel-control-next {
  right: -60px;
}


#vimeoCarousel .carousel-control-prev-icon, #vimeoCarousel .carousel-control-next-icon
{
    background-color: rgba(0,0,0,0.88);
    border-radius: 40%;
    background-size: 100% 80%;
}

#hafaSamband .form-control
{
    background-color:lightgray;
    border-radius: 0.5rem;
    border: none;
}

#hafaSamband .form-control:focus
{
    background-color: white;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255,0.25);
}

#hafaSamband .btn
{
    border-radius: 0.5rem;
}

.modal-header
{
    border-bottom: none;
}

.btn-close.btn-close-white
{
    filter: invert(1);
}

.modal-content
{
    background-color: rgba(0,0,0,0.8);
    color: white;
}

html
{
    scroll-behavior: smooth;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    overflow-x: hidden;
    background: #f2f2f2;
}

@keyframes slide
{
    from 
    {
        transform: translateX(0);
    }

    to
    {
        transform: translateX(-50%);
    }
}

.logos
{
    overflow: hidden;
    padding: 60px 0;
    width: 97%;
    white-space: nowrap;
    position: relative;
    margin: 0 auto;  
mask-image: linear-gradient(to right,
  rgba(0,0,0,0) 0%,
  rgba(0,0,0,1) 5%,  
  rgba(0,0,0,1) 95%,
  rgba(0,0,0,0) 100%);
}




.logos-slide
{
    display: inline-block;
    animation: 30s slide infinite linear;
}

.logos-slide img
{
    height: 60px;
    margin: 0 15px;
}

@media (min-width: 576px)
{
    .logos
    {
        width: 70%;
    }

    .logos-slide img
    {
        height: 90px;
        margin: 0 45px;
    }
}
.logos-slide img.pipar
{
    height: 35px !important;
    width: auto !important;
}

.mt-10
{
    margin-top: 10rem;
}
.mt-20
{
    margin-top: 20rem;
}
.mb-10
{
    margin-bottom: 10rem;
}
.mb-20
{
    margin-bottom: 20rem;
}
.mb-15
{
    margin-bottom: 15rem;
}
main#app {
  opacity: 5;
  transition: opacity .5s ease;
}